.seats .form-check-input:disabled[type="checkbox"] {
  /* background-color: #262630; */
  background-color: var(--bs-secondary);
}

.seats .form-check-input:checked[type="checkbox"] {
  background-image: none;
}

.seats .form-check-input:hover[type="checkbox"] {
  cursor: pointer;
}
