@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
  padding-top: 80px;
}

.auth-banner {
  background-color: hsl(256, 67%, 25%);
  background-image: linear-gradient(hsla(256, 67%, 25%, 0.7), hsla(256, 67%, 25%, 0.7)),
    url("./assets/img/login-bg-img.jpg");
  background-size: cover;
}

.fw-semibold {
  font-weight: 600;
}
.fs-7 {
  font-size: 14px;
}
.text-body {
  color: #4f4b68 !important;
}
.bg-primary-light {
  background-color: #f5f6f8;
}
.bg-primary-dark {
  background-color: #d6d7e6;
}

@media (max-width: 576px) {
  main {
    padding-top: 60px;
  }
} ;
